<div>
  {{#each posts as |post|}}
    <div class="card">
      <div class="card-header">
        <p>{{post.title}}</p>
        <p class="created_date"></p>
      </div>
      <div class="card-content">
        <p>{{post.content}}</p>
      </div>
    </div>
  {{/each}}
  <button>
    <a href="/dashboard/new">New Post</a>
  </button>
</div>