<div>
  <ul>
    {{#each posts as |post|}}
      <a href="/posts/{{post.id}}">
        <li>
          <p>{{post.title}}</p>
          <p class="created_date">{{post.createdAt}}</p>
        </li>
      </a>
    {{/each}}
  </ul>
</div>