
  <div>
    <ul>
      {{#each posts as |post|}}
        <li>
          <p>{{post.title}}</p>
          <p class="created_date">{{post.createdAt}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
